
@media (max-width: 1000px){

    main {
        width: 100%;
    }

    header {
        height: 100%;
    }

    header .center {
        flex-direction: column;
    }

    header .center h1 {
        margin-bottom: 16px;
    }

    .languages {
        justify-content: center;
        position: static;
    }

    .languages a {
        width: 200px;
        height: 50px;
        font-size: 1.6rem;
    }

    .about-me {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .about-me article {
        margin-top: 40px;
    }

    .about-me p {
        font-size: 1.3rem;
        max-width: 1000px;
        max-height: 1000px;
    }

    .projects-tech {
        align-items: flex-start;
    }

    .projects ul {
        margin-bottom: 40px;
    }

}

@media (max-width: 900px) {
    .hobbies {
        flex-direction: column;
        align-items: center;

    }

    .hobbies article {
        margin-bottom: 32px 
    }

    .photos {
        grid-template-columns: repeat(10, 1fr);
    }        

    .post:nth-child(2) {
        grid-column: 3 /10 ;
    }
        


@media (max-width: 840px){
    .projects-tech {
        flex-direction: column;
        align-items: center;
    }
    
    .projects-tech h3 {
        text-align: center;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inform {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .footer-links {
        margin-top: 30px ;
    }

    .footer-links a svg, .footer-links a img {
        width: 40px;
        height: 40px;
        justify-content: center;
    }

    .projects ul {
        gap: 32px;
    }
}

@media (max-width: 630px) {

    .photos {
        grid-template-columns: 1fr;
        align-self: center;
    }

    .post:nth-child(2) {
        grid-row: 2/2;
        grid-column: 1 / 1 ;
    }
}


@media (max-width: 500px) {
    :focus {
        outline: none;
    }
    .about-me img {
        width: 280px;
        margin: 0;
    }

    .about-me h4, .about-me p {
        font-size: 1rem;
    }

    
    .projects ul {
        grid-template-columns: repeat(1, 1fr);
    }

    .projects li {
        justify-self: center;
        text-align: center;
        margin-bottom: 20px;
        width: 300px;
    }

 

    .projects li:active {
        outline: none;
        width: 80%;
    }
    
}