body {
    font-family: 'Montserrat', sans-serif;
    background: rgb(47, 52, 55);
    color: rgba(47, 52, 55);
}

header {
    background: rgb(228, 227, 227) ;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.center h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.center h1 p {
    background-color: rgba(47, 52, 55);
    color: rgb(211, 211, 211); 
    padding: 5px 5px 5px 0;
    font-weight: bolder;
    display: inline-block;
}

@keyframes color-change {
    0%, 49%{ color: rgb(228, 227, 227); }
    50%, 100% { color:rgb(47, 52, 55)}
}

h1 span {
    animation: color-change 0.7s infinite alternate;
}

.social-media-icons li {
    display: inline;
    cursor: pointer;
}

.social-media-icons img:hover {
    transition: 0.3s;
    transform: scale(1.05);
}

.social-media-icons img {
    width: 50px;
    margin: 5px 25px;

}

.about-me {
    background: rgb(47, 52, 55);
    color: rgb(228, 227, 227);
    height: 100%;
    padding: 40px 20px;
    width: 940px;
    margin: 0 auto;
    box-sizing: border-box;


}

.titulo-secao {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 30px;
}

.left-information {
    float: left;
    width: 40%;
    padding-right: 10px;
    box-sizing: border-box;  
}

.eu {
    width: 100%;
}

.left-information p {
    text-align: justify;
    padding: 15px;
    font-size: 1.1em;
}


.projects {
    display: inline-block;
    width: 59%;
    border-left: 1px solid rgb(92, 92, 92);

}


.sub-titulos {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
}

.projects h3 {
    margin-bottom: 25px;
}
.projects ul {
    text-align: center;
}

.projects li {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    width: 220px;
    height: 220px;
    
    border: 2px solid rgb(228, 227, 227);
    box-sizing: border-box;  
    border-radius: 10px;
    margin: 0 10px 20px;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 3px 3px 7px rgb(224, 224, 224);
}

.projects p {
    line-height: 1.4em;
}

.projects a {
    color: rgb(228, 227, 227);
    text-decoration: None;
}



.projects li:hover {
    transform: scale(1.05);
}



