body {
    font-family: 'Montserrat', sans-serif;
    background: rgb(47, 52, 55);
    color: rgba(47, 52, 55);

}

header {
    background: rgb(228, 227, 227) ;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 10px 20px rgb(34, 34, 34);
    
}

.center h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.center h1 p {
    background-color: rgba(47, 52, 55);
    color: rgb(211, 211, 211); 
    padding: 5px 5px 5px 0;
    font-weight: bolder;
    display: inline-block;
    border-radius: 5px;
}

@keyframes color-change {
    0%, 49%{ color: rgb(228, 227, 227); }
    50%, 100% { color:rgb(47, 52, 55)}
}

h1 span {
    animation: color-change 0.7s infinite alternate;
}

.social-media-icons li {
    display: inline;
    cursor: pointer;
}

.social-media-icons img:hover {
    transition: 0.3s;
    transform: scale(1.05);
    background-color: rgba(47, 52, 55, 0.3);
    border-radius: 90px;
}

.social-media-icons img {
    width: 50px;
    margin: 5px 25px;

}

main {
    color: rgb(228, 227, 227);
    padding: 40px 20px;
    width: 940px;
    margin: 0 auto;
    line-height: 1.6em;

}

section + div {
    border-bottom: thin solid white;
    width: 70px;
    margin: 0 auto;
    clear: both;
}


.titulo-secao {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 30px;
}



.about-me {
    padding: 15px;
    width: 940px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 40px;
    float: left;
}

.eu {
    float: left;
    width: 40%;
    padding: 0 15px 15px 0;
    box-sizing: border-box;

}

.projects {
    box-sizing: border-box;
    padding: 15px;
    width: 70%;
    margin: 40px 0;
    display: inline-block;
}

.sub-titulo {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.6em;

}

.projects li {
    display: inline-block;
    padding: 10px;
    width: 130px;
    height: 80px;
    background: rgb(35, 39, 41);
    border: 2px solid rgb(228, 227, 227);
    box-sizing: border-box; 
    border-radius: 5px;
    margin: 0 15px 30px 0;
    transition: 0.7s;
    vertical-align: top;
    box-shadow: 2px 2px 4px rgb(8, 1, 1);
}

.projects li:hover{
    width: 160px;
    height: 180px;
    background: rgb(228, 227, 227);
    color: black;

}

.projects li h4{
    font-weight: bold;
    font-size: 1.53em;
    margin-bottom: 10px;
    text-align: start;

}

.projects li:hover h4 {
    font-size: 1.6em;
    transition: 0.3s;

} 

.projects a {
    color: rgb(228, 227, 227);
}

.projects p {
    visibility: hidden;
}

.projects li:hover > p {
    visibility: visible;
    transition-delay: 0.3s;
}

.technologies {
    padding:15px;
    width: 30%;
    box-sizing: border-box;
    vertical-align: top;
    display: inline-block;
    margin: 40px 0;
    border-radius: 5px;
    box-shadow: 5px 5px 4px rgb(25, 29, 31), -1px -1px 5px rgb(25, 29, 31) ;
    background: rgba(35, 39, 41, 0.7);

}

.technologies ul {
    text-align: center;
}

.technologies li {
    display: inline-block;
    padding: 10px;
    width: 130px;
    height: 50px;
    background: rgb(35, 39, 41);
    border: 2px solid rgb(228, 227, 227);
    box-sizing: border-box; 
    border-radius: 5px;
    margin: 0 15px 10px 0;
    transition: 0.7s;

    font-weight: bold;
    font-size: 1em;
    margin-bottom: 10px;
    text-align: start;
}

footer {
    background: rgb(35, 39, 41);
    color: rgb(228, 227, 227);
    text-align: center;
}

