html {
    --background-grey: #2f3437; 
    --background-grey-opacity: #2023254d;
    --background-dark-grey: #232729;
    --font-white: #e4e3e3;

    font-family: 'Montserrat', sans-serif;
    background: var(--background-grey);
    scroll-behavior: smooth;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--font-white) ;
    
    height: 100vh;

    box-shadow: 0px 15px 20px rgb(34, 34, 34);
}


header .center {
    display: flex;
    align-items: center;


}

header .center h1 {
    display: flex;
    align-items: center;

    font-size: 2.5rem;

}

.center h1 p {
    background-color: var(--background-grey);

    font-weight: bold;
    color: var(--font-white); 

    border-radius: 5px;
    padding: 5px 5px 5px 0;
}


h1 span {
    animation: color-change 0.7s infinite alternate;
}

@keyframes color-change {
    0%, 49%{ color: var(--font-white); }
    50%, 100% { color: var(--background-grey)}
}


.social-media-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 32px;
    margin: 0 16px;
}

.icon:hover, .icon:focus {
    transition: 0.3s;
    transform: scale(1.2);
}

a:focus {
    outline-color: var(--background-grey);
}   

.icon img{
    width: 50px;
    height: 50px;

    cursor: pointer;
}


main {
    display: flex;
    flex-direction: column;

    color: var(--font-white);
    line-height: 1.6em;

    padding: 3rem 2rem 0 2rem;
    margin: 0 auto;

    max-width: 1100px;
    width: 90%;
    min-height: 100vh;
}

.languages {
    display: flex;
    flex-direction: row-reverse;

    
}

.languages a {
    padding: 10px;

    border-radius: 8px;
    box-shadow: 1px 2px 3px black ;

    background: var(--background-dark-grey);
    transition: .3s;

    font-weight: bold;
    text-align: center;
}

.languages a:hover, .languages a:focus {
    transform: scale(1.05);

    border: thin solid var(--background-grey);
    background-color: var(--font-white);

    color: var(--background-dark-grey);
}


.about-me h2 {
    font-size: 1.6em;
    font-weight: bold;

    margin-bottom: 30px;
}

.about-me {
    display: flex;
    justify-content: center;

    max-width: 1100px;

    margin: 40px auto;

}

.about-me img {
   max-width: 420px;
   max-height: 420px;

   margin-right: 15px;
   
   border-radius: 8px;
}

.about-me article {
    display: flex;
    flex-direction: column; 
    justify-content: center;
}


.about-me article p {
    line-height: 1.6rem;
    margin-bottom: 15px;
}

.about-me article strong {
    font-weight: bold;
}


.bottom-line {
    border-bottom: thin solid var(--font-white);

    width: 100px;

    margin: 0 auto;
}

/* Expect structure for projects:
    <h3></h3>
    <ul>
        <li>
            <h4></h4>
            <p></p>
        </li>
    </ul>

That's why I'm not using classes in the elements of the project class*/

.projects-tech {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    margin: 40px 0;
}

.projects ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    gap: 15px;
}


.sub-title {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 20px;
    line-height: 1.6em;
}

.projects li {
    padding: 16px 20px;

    width: 220px;
    height: 200px;

    background: var(--background-dark-grey);

    box-shadow:  2px 2px 4px black, inset -1px -1px 1px black;
    border-radius: 8px;


    overflow: hidden;    
    cursor: pointer;
}


.projects li:hover, .projects li:focus {
    transition: 0.7s;
    transform: scale(1.2);
}

.projects li h4{
    font-weight: bold;
    font-size: 1.5rem;

    border-bottom: thin solid var(--font-white);

    padding-bottom: 10px;

    pointer-events:none;
    transition: 0.5s;

}

.projects p {
    padding-top: 10px;
    pointer-events: none;
}

.projects li.selected p, li:focus p {

    transition-delay: 0.4s;
}

/* Expect structure for projects:
    <h3></h3>
    <ul>
        <li>
            <h4></h4>
            <p></p>
        </li>
    </ul>

That's why I'm not using classes in the elements of the project class*/

.technologies {
    padding:16px;

    text-align: center;

    max-width: 300px;
    background: rgba(35, 39, 41, 0.7);

    box-shadow: 5px 5px 4px rgb(25, 29, 31), inset -1px -1px 1px rgb(25, 29, 31) ;
    border-radius: 8px;
}

.technologies li {
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 10px;

    background: rgb(61, 67, 71);

    border-radius: 4px;
    border: thin solid rgb(119, 115, 115);
    box-shadow: 2px 2px 2px black, -1px -1px 1px black;

    font-weight: bold;

    transition: .2s;
}

.technologies li:hover {
    transform: scale(1.1);
}

.hobbies {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px 0; 
}

.hobbies article {
    margin-right: 16px;
}

.hobbies article a {
    text-decoration: underline;
    font-weight: bold;
}

.hobbies article p {
    margin-bottom: 10px;
}

.photo-gallery {
    display: flex;
    flex-direction: column;
}

.photo-gallery h2 {
    margin-bottom: 12px;
    font-weight: bold;
}


.photos {

    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);

}


.post {
    width: 250px;

    background-color: var(--background-dark-grey);

    font-size: 0.8rem;

    box-sizing: initial;
    /* border: thin solid black; */

    transition: .4s;
}


.post:hover {
    transform: scale(1.02);

}


.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
}

.post-header .post-user {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}


.post-user a {
    display: flex;
    align-items: center;
}

.post-user a img {
    width: 30px;
    border-radius: 90px;
    margin-right: 12px;
}

.post-header .post-user a:hover {
    transform: scale(1.1);
}

.post-header svg {
    transform: rotate(90deg);
}


.post > a > img, .post > a {
    width: inherit;
}


.post-footer {
    padding: 0 16px 16px;
}

.post-footer-icons {
    display: flex;
    justify-content: space-between;

    padding: 8px 0;
}

.post-icons-together {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px
}

.post-footer-likes {
    display: flex;
    align-items: center;
}

.post-footer-likes p {
    margin-left: 5px;
}


footer {
    background: rgb(28, 30, 32);

}

.footer {
    max-width: 1100px;
    width: 90%;

    padding: 2rem;
    margin: 0 auto;

    color: var(--font-white);
    line-height: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .inform p{
    display: flex;
    align-items: center;
}

.inform p svg {
    display: flex;

    width: 20px;

    margin-right: 10px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links {
    display: flex;
}

.footer-links .links a {
    font-size: 0.10px;
    margin: 5px;

    transition: .3s;
}

.links a:hover {
    transform: scale(1.1);
}

.footer-links div a svg {
    width: 40px;
    height: 40px;
}

.footer .credits {
    font-size: 0.6rem;
}
