body {
    background-color: rgb(238, 238, 238);
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}

#center {
    font-size: 2.5rem;

    width: 500px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(49, 49, 49);
}


#leftSide {

}

#rightSide {
    padding: 1px;
    padding-left: 2px;
    color: rgb(238, 238, 238);
    background-color: rgb(49, 49, 49);
    
    

}

#barrinha {

    height: 5rem;
    
    width: 10px;
    animation:
    piscar 1s infinite;
}

@keyframes piscar {
    0%, 49% {
        color: rgb(238, 238, 238);
        
    } 50%, 100% {
        color: rgb(49, 49, 49);
    }
}



/* This text is in Lato */
.upperside {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.underside {
    background-color: rgb(49, 49, 49);
    min-height: 100vh;
}

