body {
    background-color: rgb(238, 238, 238);
    margin: 0mm;
    font-family: 'Montserrat', sans-serif;

}

#center {
    width: 500px;
    height: 200px;
    
    position: absolute; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: rgb(238, 238, 238);
    background-color: rgb(49, 49, 49);
}


#leftSide {
    position: absolute; 
    left: 35%;
    top: 40%;
    transform: translate(-50%, -50%);

}

#rightSide {
    position: absolute; 
    left: 56.6%;
    top: 40%;
    transform: translate(-50%, -50%);
}

#barrinha {
      
    text-align: left;
    margin-left: 50%;
    margin-top: 224;
    height: 49;
    width: 250;

    font-size: 2.5rem;
    
}


/* This text is in Lato */
.upperside {
    min-height: 100vh;
    text-align: center;
    
}
.underside {
    background-color: rgb(49, 49, 49);
    min-height: 100vh;
    text-align: center;
}

