@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

:root {
  --white: #EFEFEF;
  --black: #282E31;
  --red: #A44A3F;
  --font-white: #F5F5F5;
}

.App {
  min-height: 100vh;
  font-family: 'Roboto Mono', monospace;
  transition: .5s;
}

.body {
  padding: 4rem 2rem;
  max-width: 1520px;
  margin: 0 auto;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 2rem;
  letter-spacing: 4px;
}


h2 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 1rem;
  letter-spacing: 4px;
}



p {
  font-size: 20px;
  margin-bottom: 1rem;
  line-height: 2rem;
}

section {
  margin-bottom: 6rem;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }

  section {
    margin-bottom: 4rem;
  }
}


@media screen and (max-width: 550px) {
  .body {
    padding: 1rem;
  }


  h1 {
    line-height: 2rem;
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
    font-weight: bold;
  }

  p {
    font-size: 14px;
  }

}
