
.inCollege, .experiences {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    width: 100%;

}
.inCollege .text {
    width: 65%;
    max-width: 800px;
}

.inCollege .icon  {
    width: 35%;
    max-width: 400px;
    height: fit-content;
}

.experiences .text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 75%;
}

.experiences .icon {
    width: 35%;
    max-width: 300px;
    height: fit-content;

}

.experiences {
    align-items: center;
    justify-content: space-evenly;
}

.programming {
    display: flex;
    gap: 6rem;
}

.text span {
    font-weight: bold;
}

.projectsContainer {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;

}

.projectsContainer .text {
    width: 70%;

    margin-bottom: 4rem;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
    grid-template-columns: repeat(2fr);
}

.projects li {
    display: inline-block;
    width: fit-content;
}

