.container {
    display: flex;

    align-items: center;
    justify-content: space-between;
    
    transition: .5s;
    
    padding: 0rem 3rem;
    
    height: 7rem;
}

.links {
    display: flex;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 24px;
    gap: 3rem;
}

.logo {
    max-width: 220px;
}

.links li:hover {
    text-decoration: underline;
}

.logoActive {
    filter: invert(1);
}

@media screen and (max-width: 1025px) {
    .container {
        justify-content: space-evenly;
    }

    .logoContainer {
        display: none;
    }  
}

@media screen and (max-width: 800px) {
    .container {
        padding: 0rem;
    }    
}

@media screen and (max-width: 750px) {
    .container {
        display: none;
    }    
}
