.container {
    display: flex;

    align-items: center;
    justify-content: space-between;
    
    transition: .3s;
    
    padding: 0rem 3rem;
    
    height: 5rem;
}

.links {
    display: flex;
    font-weight: bold;
    font-size: 20px;
    gap: 3rem;
}

.links li:hover {
    text-decoration: underline;
}

.logoActive {
    filter: invert(1);
}
