
.container {
    display: flex;
}

.body {
    width: 70%;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 3rem 2rem;
}

.text p span {
    font-weight: bold;
}

@media screen and (max-width: 1025px) {
    .container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .icon {
        width: 60%;
        height: fit-content;
        margin-bottom: 2rem;
    }

    .body {
        width: 100%;
    }

    .text {
        text-align: center;
    }

}

@media screen and (max-width: 550px) {
    .links {
        margin: 3rem 0rem;
    }

    .icon {
        width: 80%;
    }
}