
.aboutMe {
    display: flex;
    gap: 2rem;
    align-items: center;

}


.aboutMe a {
    width: 40%
}

.aboutMe a img {
    border-radius: 100%;
}

.love > div {
    width: 50%;
}

.love .title {
    display: flex;
    gap: 1rem;
}