
.aboutMe {
    display: flex;
    gap: 4rem;
    align-items: center;

}


.aboutMe a {
    width: 40%
}

.aboutMe a img {
    border-radius: 100%;
}

.love {
    display: flex;
}

.love > div {
    width: 50%;
}

.love > ul {
    width: 50%;
}

.love .title {
    display: flex;
    gap: 1rem;
}

.love .posts {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.post {
}