
.aboutMe {
    display: flex;
    gap: 4rem;
    align-items: center;

}

.aboutMe a {
    width: 40%
}

.aboutMe a img {
    border-radius: 100%;
}

.love {
    display: flex;
}

.love > div, .love > ul {
    width: 50%;
}

.love .title {
    display: flex;
    gap: 1rem;
}

.love .posts {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.love .posts li{
    max-width: 200px;
}

@media screen and (max-width: 1025px) {
    p {
        text-align: justify;
    }

    .aboutMe, .love {
        flex-direction: column;
        text-align: center;
    }

    .aboutMe a {
        width: fit-content;
        max-width: 100%;
    }
    

    .love > div, .love > ul {
        width: 100%;
    }

    .love .title {
        display: flex;
        align-items: center;
        width: fit-content;
        margin: 0 auto;
    }

    .love .text {
        margin-bottom: 4rem;
    }

    .logo {
        display: none;
    }  
}

@media screen and (max-width: 750px) {
    .container {
        display: none;
    }

    .aboutMe {
        gap: 2rem;
    }

    .aboutMe a img {
       width: 60%;
    }

    .love .posts li{
        max-width: 300px;
    }

    .love .posts {
        gap: 1rem;
    }

    .love .text {
        margin-bottom: 2rem;
    }

    .love .title h1 {
        margin: 2rem 0;
    }

    .love .title .heart {
        width: 30px;
    }

}
