.footer-container {
    width: 100%;

    background-color: var(--footer-black);
}

.footer {
    max-width: 1100px;
    width: 90%;

    padding: 2rem;
    margin: 0 auto;

    color: var(--white);
    line-height: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .inform p{
    display: flex;
    align-items: center;
}

.inform p svg {
    display: flex;

    width: 20px;

    margin-right: 10px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links {
    display: flex;
}

.footer-links .links a {
    font-size: 0.10px;
    margin: 5px;

    transition: .3s;
}

.links a:hover {
    transform: scale(1.1);
}

.footer-links div a svg {
    width: 40px;
    height: 40px;
}

.footer .credits {
    font-size: 0.6rem;
}