:root {
  --black: #262629;
  --footer-black: #19191b; 
  --grey: #3b3b3d50;
  --post-black: #0000007c;
  --low_opacity-white: #ffffff9b;
  --white: #e4e4e4;
  --background-color: #262629;
}

html {
  scroll-behavior: smooth;
  font-family: 'montserrat';
}

main {
  display: flex;
  justify-content: center;

  background-color: var(--background-color);
  min-height: 100vh;
  padding: 4rem 0;

  font-weight: lighter;
  line-height: 150%;
  color: var(--white);
}

main div {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.section-title {
  align-self: center;

  font-size: 2.2rem;
  font-weight: normal;
}

.bottom-line {
  border-bottom: thin solid var(--white);

  width: 100px;

  margin: 0 auto;
}