.things-i-love-container {
    display: flex;
    
    max-width: 1080px;
}

.things-i-love-paragraph {
    margin: 1.5rem .5rem 0 0;
}
.things-i-love-galery {
    flex-direction: row;
    gap: 1rem;
}