
.about-me-section {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    height: fit-content;
    max-width: 1080px;
    padding: 1rem;
}

.about-me-article {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    font-size: 1.1rem;
}

.about-me-title {
    font-size: 2rem;
    font-weight: normal;
}


.about-me-photo {
    max-width: 25rem;
    border-radius: 90%;
}
