.post-container {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 300px;
    background-color: var(--post-black);
    font-weight: normal;
}

.post-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    justify-content: space-between;
    
    padding: 8px 16px;
}

.post-user a {
    display: flex;
    align-items: center;
    
    color: white;
    gap: 1rem;
}

.post-user a img{
    width: 35px;

    border-radius: 90px;
}

.post-header svg {
    transform: rotate(90deg);
}


.post-photo {
    width: inherit;
}
.post-photo img {
    width: inherit;
}
.post-footer {
    padding: 12px 16px;
    gap: 1rem;
}

.post-footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-icons-together {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.post-footer-likes {
    flex-direction: row;
    gap: .5rem;
}